<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>

        <div class="container text-center">
            <h1>About me</h1>
            <p class="lead"><strong> I'm Ahmed Elhady, Junior Software developer, I intersted in Computer science and Cyber
                    security, I love to code
                    since my childhood, I like to implement my own ideas into code. </strong></p>

            <h2>You can contact with me with the following social links:</h2>
            <ul class="list-group">
                <li class="list-group-item">br3akm30ut@outlook.com</li>
                <li class="list-group-item"><a href="https://www.facebook.com/ahm3delhady" target="_blank">Facebook</a></li>
                <li class="list-group-item"><a href="https://twitter.com/ahm3delhady" target="_blank">Twitter</a></li>
                <li class="list-group-item"><a href="https://linkedin.com/in/ahm3delhady" target="_blank">LinkedIn</a></li>
                <li class="list-group-item"><a href="https://instagram.com/ahm3delhady" target="_blank">Instagram</a></li>
                <li class="list-group-item"><a href="https://github.com/ahm3delhady" target="_blank">Github</a></li>
            </ul>
            <br>

            <a href="{% url 'home' %}" class="btn btn-warning">Go to Home</a>
        </div>
    </body>

</html>